@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin "daisyui";

html,
body {
  background: #fff;
  color: black;
  overflow-x: hidden;
  max-width: 100vw;
}

body > * {
  max-width: 100vw;
}

